@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 27 30% 5%;
    --foreground: 27 20% 98%;
    --card: 27 30% 8%;
    --card-foreground: 27 20% 98%;
    --popover: 27 30% 5%;
    --popover-foreground: 27 20% 98%;
    --primary: 27 100% 58%;
    --primary-foreground: 0 0% 100%;
    --secondary: 27 42% 12%;
    --secondary-foreground: 27 20% 98%;
    --muted: 27 42% 12%;
    --muted-foreground: 27 15% 60%;
    --accent: 27 100% 58%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 27 42% 12%;
    --input: 27 42% 12%;
    --ring: 27 100% 58%;
    --radius: 1.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}

.map-container {
  mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-background;
}

::-webkit-scrollbar-thumb {
  @apply bg-secondary rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-muted;
}